@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* General */
body {margin:0;padding: 0;}

.container {
    width: 100%;
    position: relative;
    font-family: 'Roboto Mono', monospace;
}


/* Navbar */
.navbar {
    height: 100%;
    border: 1px black;
    background-color: #deebf7;
    width: 300px;
    text-align: center;
}

.navbar a {
    color: #6d7479;
    font-size: 28px;
    display: inline-block;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

/* Dropdown button*/
 .dropdown {
     display: flex;
     background-color:#deebf7;
     justify-content: center;
     width: 100%;
     height:auto;
 }
  .dropdown .dropbutton {
      color: #deebf7;
      background-color: #deebf7;
      border: #deebf7;
  }

  .dropdown span {
     display: flex;
     justify-content: center;
     width: 15px;
     height: 2px;
     margin-bottom: 3px;
     color: #deebf7;
     background-color: rgb(0, 0, 0);
 }

/* Info cards */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.item-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    font-size: 35%;
    background-color: #deebf7;
}

.border-color {
    border-left: solid 4px #9ac8e0;
}




/* Images */
.image-box {
    display: flex;
    justify-content: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    display: flex;
}

/* Media queries */

@media only screen and (max-width:650px) {
    .navbar {display: none;}
}

@media only screen and (min-width:651px) {
    .dropdown {display: none;}
}