@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* General */
.container {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}


h1 {
    font-size: 0.8em;
    font-weight: 600;
}

h3 {
    font-size: 0.6em;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 5%;    
}

h4 {
    font-size: 0.5em;
    color: grey;
    margin-top: 0;
    padding-top: 0;
    margin-left: 5%;
}

/* Navbar */
.navbar {
    width: 100%;
    min-height: 100%;
    background-color: #deebf7;
    text-align: center;
}

.navbar a {
    color: black;
    font-size: 0.8em;
    line-height: 3;

}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

/* Info cards */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-header {
    height: 30%;
    padding-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.item-card {
    width: 40%;
    background-color: #deebf7;
    margin: 2.5%;
}

.no-top-margin{
    margin-top: 0;
}

.no-left-margin{
    margin-left: 0;
}

.inline-text {
    text-align: center;
    width: 100%;
    height: 100%;
}

.card-title {
    color: #2a2d2e;
    font-size: 2em;
}

.card-sub-title {
    color: #2a2d2e;
    font-size: 1.5em;
}

.card-text{
    color: #9fa9b2;
    font-size: 1em;
}

.border-color {
    border-left: solid 7px #9ac8e0;
}


/* Images */
.image-box {
    width: 30%;
    margin: 0;
    display: inline-block;
    margin-left: 5%;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

  /* Dropdown button*/
 .dropdown {
     display: flex;
     background-color:#deebf7;
     justify-content: center;
     width: 100%;
     height: 5%;
     position: absolute;
     left: 0;
     top: 0;
 }
  .dropdown .dropbutton {
      color: #deebf7;
      background-color: #deebf7;
      border: #deebf7;
      margin: 0.2em 0;
  }

  .dropdown span {
     display: flex;
     justify-content: center;
     width: 15px;
     height: 2px;
     margin-bottom: 3px;
     color: #deebf7;
     background-color: rgb(0, 0, 0);
 }

.container{
      margin-top: 0.8em;
}


/* Sér stílar fyrir mobile upp í 650px */

@media only screen and (max-width:650px){
    .container{
        margin-top: 0%;
    }
    .navbar {display: none;}

    h3 {
        margin-left: 0%;
    }

    h4 {
        margin-left: 0%;
    }

    .border-color {
        border-left: solid 3px#9ac8e0;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .card-container {
        flex-direction: column;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    img {
        display: inline;
        max-width: 60%;
        max-height: 60%;
    }

    .image-box {
        margin-bottom: 5%;
        margin-left: 0%;
        width: 30%;
        height: 30%;
    }

    .item-card {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: large;
        justify-content: center;
        margin: 2%;
        width: auto;
    }
}

@media only screen and (min-width:651px){
    .dropdown{
        display: none;
    }
    .container{
      margin-top: 0;
}

}


/* Stílar sem eru spes frá mobile upp í 1000px */

@media only screen and (max-width:1000px){
    .container{
        font-size: large;
    }

}


/* Stílar sem eru spes þegar skjástærð er yfir 1001px*/

@media only screen and (min-width:1001px){
.container{     
        width: 1000px;
    }
.card-header {
    height: 30%;
    padding-top: 5%;
    }
}