@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* General */
.container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
}


/* Navbar */
.navbar {
    height: 1000px;
    border: 1px black;
    background-color: #deebf7;
    width: 300px;
    text-align: center;
}

.navbar a {
    color: #6d7479;
    font-size: 28px;
    display: inline-block;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

/* Info cards */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.item-card {
    width: 400px;
    height: 300px;
    background-color: #deebf7;
    margin-left: 25px;
    margin-bottom: 40px;
}

.border-color {
    border-left: solid 7px #9ac8e0;
}




/* Images */
.image-box {
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}